code/compoundimages/
code/__pycache__/
code/__pycache__/stats.cpython-39.pyc
code/__pycache__/plotting.cpython-39.pyc
code/__pycache__/MSFaST.cpython-39.pyc
code/__pycache__/main.cpython-39.pyc
code/averagepca.csv
code/msdata_teststats_test.csv
code/qdata.csv
*.pyc
rawdata/*
processeddata/*
!rawdata/200826_PTY087I2codingdataset
!processeddata/PTY087I2

